.metadata/
.sonarlint/

# ExtentReport-Example
ExtentReport-Example/.classpath

ExtentReport-Example/.project
ExtentReport-Example/.settings/
ExtentReport-Example/.test-output/

# ExtentReport-Framework-Example
ExtentReport-Framework-Example/.settings/
ExtentReport-Framework-Example/reports/
ExtentReport-Framework-Example/target/
ExtentReport-Framework-Example/test-output/
ExtentReport-Framework-Example/.classpath
ExtentReport-Framework-Example/.project

java interview programs/.settings/
java interview programs/bin/
java interview programs/.classpath
java interview programs/.project

java8/.settings/
java8/bin/
java8/.classpath
java8/.project

Playwright-Framework-Example/.settings/
Playwright-Framework-Example/target/
Playwright-Framework-Example/.classpath
Playwright-Framework-Example/.project

Playwrightsession/.settings/
Playwrightsession/target/
Playwrightsession/.classpath
Playwrightsession/.project

SeleniumFrameworkDemo/.settings/
SeleniumFrameworkDemo/target/
SeleniumFrameworkDemo/test-output/
SeleniumFrameworkDemo/.classpath
SeleniumFrameworkDemo/.project

# selenium-practice - demo programs
selenium-practice/.settings/
selenium-practice/target/
selenium-practice/.classpath
selenium-practice/.project

# Selenium-TestNG-Framework-Example
Selenium-TestNG-Framework-Example/.test-output/
Selenium-TestNG-Framework-Example/.classpath
Selenium-TestNG-Framework-Example/.gitgnore
Selenium-TestNG-Framework-Example/.project
Selenium-TestNG-Framework-Example/.settings/

# Selenium-TestNG-Practice
Selenium-TestNG-Practice/.settings/
Selenium-TestNG-Practice/target/
Selenium-TestNG-Practice/test-output/
Selenium-TestNG-Practice/.classpath
Selenium-TestNG-Practice/.project

# Selenium-With-Java8
Selenium-With-Java8/.settings/
Selenium-With-Java8/target/
Selenium-With-Java8/.classpath
Selenium-With-Java8/.project

# store framework - selenium demo framework 
StoreFramework/.settings/
StoreFramework/target/
StoreFramework/test-output/
StoreFramework/.classpath
StoreFramework/.project

# test craft example - login page pom example 
TestCraft-Example/.settings/
TestCraft-Example/target/
TestCraft-Example/test-output/
TestCraft-Example/.classpath
TestCraft-Example/.project

# TestNG-Parallel example 
TestNG-Parallel/.settings/
TestNG-Parallel/reports/
TestNG-Parallel/target/
TestNG-Parallel/test-output/
TestNG-Parallel/.classpath
TestNG-Parallel/.project

# TestNG-Practice - TESTNG Demo Examples
TestNG-Practice/.settings/
TestNG-Practice/target/
TestNG-Practice/test-output/
TestNG-Practice/.classpath
TestNG-Practice/.project
ExtentReport-Framework-Example/src/main/java/com/test/App.java
/project add in git repo/TMB-SeleniumAutomationFramework
/.metadata/

# Test-Framework (drive wealth)
Test-Framework/.settings/
Test-Framework/target/
Test-Framework/test-output/
Test-Framework/.classpath
Test-Framework/.project

# codestudio-selenium-testng-framework
codestudio-selenium-testng-framework/.settings/
codestudio-selenium-testng-framework/target/
codestudio-selenium-testng-framework/test-output/
codestudio-selenium-testng-framework/.classpath
codestudio-selenium-testng-framework/.project
Test-Framework-Master/.gitignore.rtf
Test-Framework-Part1/ExtentReports/ExtentReport.html
Test-Framework-Part2/untitled
Test-Framework-Part3/.classpath
Test-Framework-Part3/.DS_Store
Test-Framework-Part3/.project
Test-Framework-Part3/.settings/org.eclipse.jdt.core.prefs
Test-Framework-Part3/.settings/org.eclipse.m2e.core.prefs
Test-Framework-Part3/ExtentReports/Report_2025-07-06_00-44-00.html
Test-Framework-Part3/src/.DS_Store
Test-Framework-Part3/screenshots/testLogin.png
Test-Framework-Part3/target/.DS_Store
Test-Framework-Part3/target/classes/META-INF/MANIFEST.MF
Test-Framework-Part3/target/classes/META-INF/maven/example/Test-Framework-Part3/pom.properties
Test-Framework-Part3/test-output/.DS_Store
Test-Framework-Part3/test-output/Automation Suite/testng-failed.xml
Test-Framework-Part3/test-output/bullet_point.png
Test-Framework-Part3/test-output/collapseall.gif
*.html
Test-Framework-Part3/test-output/Default suite/Default test.xml
Test-Framework-Part3/test-output/Default suite/testng-failed.xml
.DS_Store
Test-Framework-Part3/test-output/failed.png
Test-Framework-Part3/test-output/jquery-3.6.0.min.js
Test-Framework-Part3/test-output/junitreports/TEST-tests.LoginTest.xml
Test-Framework-Part3/test-output/navigator-bullet.png
Test-Framework-Part3/test-output/passed.png
Test-Framework-Part3/test-output/skipped.png
Test-Framework-Part3/test-output/testng-failed.xml
Test-Framework-Part3/test-output/testng-reports.css
Test-Framework-Part3/test-output/testng-reports.js
Test-Framework-Part3/test-output/testng-reports1.css
Test-Framework-Part3/test-output/testng-reports2.js
Test-Framework-Part3/test-output/testng-results.xml
Test-Framework-Part3/testng.out.xml
